Source: aero-px4
Section: embedded
Priority: optional
Maintainer: Daniel E Ruano <daniel.e.ruano@intel.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.7
Homepage: https://github.com/intel-aero/meta-intel-aero/tree/master/recipes-support/px4-fw/files

Package: aero-px4
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: aero-utils
Description: Px4 firmware for Intel Aero.
 This contains the standard firmware for the Intel Aero flight controller.
XBCS-meta-intel-aero-revision: {meta-intel-aero-rev}
