Source: aero-init
Section: embedded
Priority: optional
Maintainer: Daniel E Ruano <daniel.e.ruano@intel.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.7
Homepage: https://github.com/intel-aero

Package: aero-init
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Contains several init scripts for the Intel Aero.
 Includes the startup script to power up the Intel Realsense camera.
XBCS-meta-intel-aero-base-revision: {meta-intel-aero-base-rev}
