Source: aero-spi-xfer
Section: embedded
Priority: optional
Maintainer: Daniel E Ruano <daniel.e.ruano@intel.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.7
Homepage: https://github.com/intel-aero/meta-intel-aero-base/tree/master/recipes-support/spi-xfer

Package: aero-spi-xfer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: SPI data transfer for Intel Aero
 SPI communication for Intel Aero.
