Source: aero-systemd
Section: embedded
Priority: optional
Maintainer: Ritul Jasuja <ritul.jasuja@intel.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.7
Homepage: https://github.com/intel-aero

Package: aero-systemd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Systemd bootup services
 Configure and initialize system services
