Source: firmware-atomisp
Section: embedded
Priority: optional
Maintainer: Ritul Jasuja <ritul.jasuja@intel.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.7
Homepage: https://github.com/intel-aero/meta-intel-aero-base/tree/master/recipes-kernel/linux/linux-yocto

Package: firmware-atomisp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Firmware for AtomISP
 AtomISP Firmware required by Intel (R) Aero RTF Drone cameras
