Source: aero-bios
Section: embedded
Priority: optional
Maintainer: Daniel E Ruano <daniel.e.ruano@intel.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.7
Homepage: https://github.com/intel-aero

Package: aero-bios
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: BIOS Updater for Intel Aero
 BIOS binary updater for Intel Aero
XBCS-meta-intel-aero-base-revision: {meta-intel-aero-base-rev}
