Source: aero-fpga
Section: embedded
Priority: optional
Maintainer: Daniel E Ruano <daniel.e.ruano@intel.com>
Build-Depends: debhelper (>=9), gcc-5-multilib
Standards-Version: 3.9.7
Homepage: https://github.com/intel-aero

Package: aero-fpga
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: JAM Player to flash Intel Aero FPGA.
 This package includes the jam-stapl program to reprogram the FPGA on the
 Intel Aero.
XBCS-meta-intel-aero-revision: {meta-intel-aero-rev}
