Source: camera-streaming-daemon 
Priority: optional
Maintainer: Ritul Jasuja <ritul.jasuja@intel.com>
Build-Depends: debhelper (>=9), dh-systemd (>= 1.5), dh-autoreconf, libglib2.0-dev, python-pip, git, python-future
Standards-Version: 3.9.7
Homepage: https://github.com/01org/camera-streaming-daemon

Package: aero-camera-streaming-daemon
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Handles Video streaming
 Creates a video streaming server and advertise avaialable video streams
