Source: aero-system
Section: embedded
Priority: optional
Maintainer: Avinash Reddy Palleti <avinash.reddy.palleti@intel.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.7
Homepage: https://github.com/intel-aero

Package: aero-system
Architecture: any
Depends: linux-image-4.4.76-aero-1.3, linux-headers-4.4.76-aero-1.3, aero-mavlink-router, aero-fpga, aero-px4, aero-ardupilot, aero-utils, aero-init, aero-bios, openssh-server, i2c-tools, firmware-atomisp, aero-systemd, aero-camera-streaming-daemon, aero-optical-flow
Description: Collection of Intel Aero packages.
 This collection of Intel Aero packages includes all necessary programs and
 utilities to use the Intel Aero RTF drone on Ubuntu.
